@import "./grid.scss";

//General
.contentWrapper {
  background-color: #f4f4f4;
}
.button{
  background-color: #134384;
  color: #fff;
  font-weight: 700;
  padding: 7px 35px;
  font-size: 14px;
  cursor: pointer;
  &:hover{
    background-color: #2d63af;
  }
}
img {
  max-width: 100%;
}

//Header
header {
  overflow: hidden;
  background-color: #134384;
  padding: 10px 0;
}

//Hotel detail

.hotel-detail{
  background-color: #fff;
  margin: 10px 0;
  padding: 10px 0;
  -webkit-box-shadow: 0px 5px 6px 0px rgba(50, 50, 50, 0.14);
  -moz-box-shadow:    0px 5px 6px 0px rgba(50, 50, 50, 0.14);
  box-shadow:         0px 5px 6px 0px rgba(50, 50, 50, 0.14);
  .image-container{
    overflow: hidden;
    max-height: 140px;
    img{
      min-width: 100%;
    }
  }
  .info-container{
    .name{
      color: #0f7cb5;
      font-weight: 800;
      font-size: 14px;
    }
    .star{
      width: 20px;
      fill: yellow;
    }
    .amenity{
      width: 15px;
      margin: 0 5px;
    }
  }

  .price-container{
    text-align: center;
    border-left: 1px dotted #acacac;
    margin: 0;
    padding: 20px 1.9%;
    .copy{
      font-size: 11px;
      line-height: 13px;
    }
    .price{
      color: #e26e00;
      font-size: 14px;
      span{
        color: #e26e00;
        font-weight: 700;
        font-size: 20px;
      }
    }
  }
}

// Filters

.filters{
  background-color: #fff;
  margin: 10px 0;
  padding: 10px 0;
  padding: 10px;
  -webkit-box-shadow: 0px 5px 6px 0px rgba(50, 50, 50, 0.14);
  -moz-box-shadow:    0px 5px 6px 0px rgba(50, 50, 50, 0.14);
  box-shadow:         0px 5px 6px 0px rgba(50, 50, 50, 0.14);
  h2{
    font-size: 15px;
    padding: 10px 0;
    img{
      position: absolute;
      width: 15px;
      fill: #0f7cb5;
      left: 10px;

    }
  }
  .title{
    border-bottom: 3px solid #f0f0f3;
  }
  .search{
    border-bottom: 3px solid #f0f0f3;
    padding-bottom: 8px;
    h2{
      color: #0f7cb5;
      font-weight: 800;
      font-size: 14px;
      padding-left: 20px;
    }
    input{
      width: 96%;
    }
  }
  .stars{
    h2{
      color: #0f7cb5;
      font-weight: 800;
      font-size: 14px;
      padding-left: 20px;
    }
    .star{
      width: 15px;
      fill: yellow;
    }
  }

  input{
    padding: 3px 2px;
    margin-right: 10px;
  }
  .button{
    padding: 3px 4px;
    font-size: 12px;  
  }
}

@media only screen and (max-width : 768px) {
  .filters{
    width: 94%;
  }
}
