@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";
@import "./grid.scss";

//General
.contentWrapper {
  background-color: #f4f4f4;
}
img {
  max-width: 100%;
}

//Header
header {
  overflow: hidden;
  background-color: #134384;
  padding: 10px 0;
}

//Hotel detail

.hotel-detail{
  background-color: #fff;
  margin: 10px 0;
  padding: 10px 0;
  .star{
    width: 30px;
    fill: yellow;
  }
}
